<a href="https://colab.research.google.com/github/markjereminpoblete/CPEN65-2/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#Accessing the elements in an Array
animals = ["cat", "dog", "cow"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Animal[0]=",x)
print("Animal[1]=",y)

Animal[0]= cat
Animal[1]= dog

In [17]:
#Modifying the elements
animals = ["cat", "dog", "cow"]
animals[0]= "monkey"
x = animals[0]
print("Array[0]=",x)
print(animals)

Array[0]= monkey
['monkey', 'dog', 'cow']

In [3]:
#Length of the Array
animals = ["monkey", "dog", "fish", "cat", "birds"]
v = len(animals)
print(v)

5

In [2]:
#Looping Array Elements
animals = ["monkey", "dog", "fish", "cat", "birds"]
for x in animals:
  print(x)

monkey
dog
fish
cat
birds

In [5]:
animals = ["monkey", "dog", "fish", "cat", "birds"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [11]:
#Adding elements in the Array
animals = ["monkey", "dog", "fish", "cat", "birds"]
print(animals)
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds']
['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [10]:
#Write a Python program to insert a new item ('11') before the second element in an existing array.
#Original array: numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)
numbers.insert(1,11)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
#Removing an Element in the Array
print(numbers)
numbers.pop(1)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]